@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: BPGArial;
    font-style: normal;
    src: url(/assets/fonts/BPG_Arial.woff2) format('woff2');
  }
}

.text-shadow:hover {
  text-shadow: 2px 1px 0px #eaeaea, 4px 1px 0px #232323;
}

.text-shadow {
  font-variant-caps: all-small-caps;
}

.text-success {
  font-variant-caps: all-small-caps;
  letter-spacing: 0.24em;
}

.radio-button {
  -webkit-appearance: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #232323;
}

.radio-button:before {
  content: '';
  display: block;
  width: 86%;
  height: 86%;
  margin: 10% auto;
  border-radius: 50%;
}

.radio-button:checked:before {
  background: #232323;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
