@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: BPGArial;
    font-style: normal;
    src: url(/assets/fonts/BPG_Arial.woff2) format("woff2");
  }
}

.text-shadow:hover {
  text-shadow: 2px 1px 0px #eaeaea, 4px 1px 0px #232323;
}

.text-shadow {
  font-variant-caps: all-small-caps;
}
